<!DOCTYPE html>
<html>
<head>
  <title>EcoDrive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= render 'layouts/shim' %>
  <link rel="stylesheet" href="http://cdn.oesmith.co.uk/morris-0.4.3.min.css">
</head>
<body>
<% if signed_in? %>	
	<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
		<%= render 'layouts/header' %>
		<%= render 'layouts/sidebar' %>
	</div>    
    <div class="bar-left">
  			<button type="button" class="btn btn-default btn-sm left-btn"><span class="glyphicon glyphicon-chevron-left"></span></button>
  			<button type="button" class="btn btn-default btn-sm right-btn"><span class="glyphicon glyphicon-chevron-right"></span></button>
  			<center class="nav-name">Maintenance</center>
	</div>
    <div class="bar-right">
    	<select class="form-control app-select">
  			<option>Hersteller / Importeur</option>
  			<option>Niederlassung / Werksatt</option>
  			<option>Transportunternehmung</option>
		</select>	
    </div>
    <div id="wrapper">
    	
    <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
        <% end %>
    <%= yield %>
    
    <%= render 'layouts/footer' %>
	<%= debug(params) if Rails.env.development? %>
    
    </div>
<% else %>
<div class="container">
	<div class="jumbotron">
	 
		<%= yield %>
	 
	</div>
</div>
<% end %>    	
</body>
</html>
